body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    height: 15vh;
    background-color: gray;
}

.grid {
    display: flex;
    gap: 5vh;
    align-items: center;
    padding-top: 35vh;
    flex-flow: wrap;
}
.book {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 20vh;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.addBookButton {
    background-color: lightblue;
    color: white;
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
    border-radius: 75%;
    border-style: solid;
}
.pageTitle {
    display: flex;
    justify-content: center;
    font-size: 10vh;
}
form {
    background-color: lightgrey;
}
.formRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 3px;
    padding-top: 3px;
    gap: 5px
}
